@media (orientation: portrait) {
  img {
    /*height: 100%;*/
    min-height: 40vh;
    width: auto;
  }
}

@media (orientation: landscape) {
  img {
    /*width: 100%;*/
  }
}

.col-10.col-sm-10.col-md-7.col-xl-6.d-md-flex.justify-content-md-center.align-items-md-center {
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/de45abd34d4a0d7970ad6cd238d81e6d040007f4.jpeg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (orientation: portrait) {
  .col-10.col-sm-10.col-md-7.col-xl-6.d-md-flex.justify-content-md-center.align-items-md-center {
    max-height: 60vh;
  }
}

@media (orientation: landscape) {
  .col-10.col-sm-10.col-md-7.col-xl-6.d-md-flex.justify-content-md-center.align-items-md-center {
    max-height: 99vh;
    max-width: 60vh;
  }
}

@media (orientation: landscape) {
  #left {
    width: 100%;
    height: 100vh;
    /*background-color: rgba(255,0,0,0.26);*/
    max-width: 60vw;
  }
}

@media (orientation: portrait) {
  #left {
    width: 100vw;
    height: 100vw;
    /*background-color: rgba(255,0,0,0.26);*/
    max-height: 40vh;
  }
}

@media (orientation: portrait) {
  #right {
    height: 60vh;
    /*background-color: #2c49b4;*/
    /*width: 100%;*/
  }
}

@media (orientation: landscape) and () {
  #right {
    /*height: 100vh;*/
  }
}

@media (orientation: landscape) {
  #right {
    /*height: 100vh;*/
    /*background-color: #2c49b4;*/
    width: calc(100vw - 100vh);
  }
}

@media (orientation: portrait) {
  #box {
    display: initial;
  }
}

@media (orientation: landscape) {
  #box {
    display: flex;
  }
}

#left < #right {
}

